* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


/* if you want to change the background of your canvas, do it here */

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}


/* this is where you can style the objects in your still life */

.square{
	width: 100px;
	height: 100px;
	background: blue;
	position: absolute;
	top: 100px;
	left: 200px;
}

.circle1{
	width:150px;
	height:150px;
	background: lightpink;
	border-radius:50%;
	position: absolute;
	top: 100px;
	left:600px;
}

.circle2{
	width:150px;
	height:150px;
	background: lightpink;
	border-radius:50%;
	position: absolute;
	top: 250px;
	left:700px;
}

.circle3{
	width:150px;
	height:150px;
	background: lightpink;
	border-radius:50%;
	position: absolute;
	top: 250px;
	left:450px;
}

.square1{
	width: 400px;
	height:300px;
	background:ghostwhite;
	border: 1px;
	position:absolute;
	top:100px;
	left:450px;
}

.rectangle{
	width:150px;
	height:300px;
	background:skyblue;
	position:absolute;
	top:100px;
	left:250px;
}

.circle4{
	width:250px;
	height:250px;
	border-radius:50%;
	background:skyblue;
	position:absolute;
	top:180px;
	left:200px;
}